@font-face {
    font-family: 'Raster';
    src: url('../assets/fonts/FKRasterRoman/raster.woff2') format('woff2'),
         url('assets/fonts/FKRasterRoman/raster.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: hidden;
    background: black;
    color: #afff2f;
    margin: 0px;
    box-sizing: border-box;
}

#donate{
    display: absolute;
    position: sticky;
    width: 220px;
    right: 30px;
    bottom: 30px;
    float: right;
    margin: 0px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    z-index: 10000;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.navbar{
    border-top: solid #afff2f 4px;
    border-bottom: solid #afff2f 4px;
    display: flex;
    flex-flow: row nowrap;
}

a{
    font-family: Raster, Times New Roman, serif;
    font-size: 20px;
    color: #afff2f;
    padding: 20px;
    border: solid #afff2f 4px;
    margin-right: -4px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: -4px;
    margin-bottom: -4px;
}

a:hover{
    background-color: #afff2f;
    color: black;
}

.header{
    margin-top: -40px;
    text-align: center;
    /*background-color: pink;*/
}

#animate{
    position: relative;
    height: 600px;
    top: 20px;
    margin-top: -200px;
    margin-bottom: 40px;
}

/*canvas{
    z-index: -1;
    position: relative;
    top: 10%;
}*/

.dialog img{
    position: absolute;
    left: 38%;
    top: 150px;
    width: 450px;
}

.content{
    font-family: Raster, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ffffff;
    line-height: 21px;
    column-count: 3;
    column-gap: 20px;
    width: 60vw;
    height: fit-content;
    margin: auto;
}

.para{
    margin-top: 0px;
    padding-top: 0px;
}

#title{
    font-family: Raster, 'Times New Roman', serif;
    font-size: 90px;
    letter-spacing: 2px;
}


